@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'antd/dist/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix Tailwind CSS border styles, form Tailwind CSS's preflight */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme('borderColor.DEFAULT', currentColor); /* 2 */
  text-decoration: none;
}

::before,
::after {
  --tw-content: '';
}
@layer base {
  * {
    @apply font-base;
  }
  body {
    @apply bg-white text-gray-10 min-h-screen flex flex-col;
  }
}

@layer components {
  .wrapper {
    @apply flex justify-center;
    > * {
      @apply w-full px-4 tablet:px-8 laptop-l:max-w-main;
    }
  }
}

@layer utilities {
  .btnSearch {
    .ant-input-group-addon {
      @apply bg-green-7 hover:bg-green-9;
      button {
        @apply bg-transparent;
        .ant-btn-icon {
          @apply text-lg;
        }
      }
    }
    input {
      @apply py-3 text-black;
    }
  }
}
